{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block page_name %}
	<a style="font-size: 13px;" class="navbar-brand mr-4" href=""><span>&laquo;</span>&nbsp&nbsp&nbsp&nbsp {{page_name}}</a>
{% endblock %}

{% block content %}
	<h1>HOME PAGE</h1>
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Predict</button>
			</div>
		</form>
	</div>


{% endblock content %}
