{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block page_name %}
	<a style="font-size: 13px;" class="navbar-brand mr-4" href=""><span>&laquo;</span>&nbsp&nbsp&nbsp&nbsp {{page_name}}</a>
{% endblock %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Sudah memilik Akun? <a class="ml-2" href="*{% url 'login' %}*">Sign In</a>
			</small>
		</div>
	</div>
{% endblock content %}
